body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    background: url("../images/xmas_background.webp") no-repeat center center/cover;
}

h1 {
    font-family: 'Mountains of Christmas', serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
}

.game-area {
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}