/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    min-height: 100vh;
    max-width: 100vw;
    background: url("../images/blue_background.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.heading {
    min-height: 20%;
    width: 100%;
}

.score-area {
    height: 50%;
    width: 50%;
    margin: auto;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(37, 65, 125);
    color: rgb(255, 255, 255);
}

.button-click {
    display: flex;
    justify-content: center;
}

.button-click button {
    padding: 8px 16px;
    font-size: 20px;
    background-color: rgb(37, 65, 125);
    color: rgb(255, 255, 255);
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
}

.card {
    height: 100px;
    width: 100px;
    flex-basis: 20%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    height: 100%;
    width: 80%;
}

.card.turned {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url("../images/card-back.jpg");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}